main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.aboutSectionWrappers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

.aboutSectionWrappers h1 {
    font-size: 2rem;
    padding: 10px;
    width: 100%;
}