@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --background: #E7E7D6;
  --foreground: #1E1E1D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E1E1D;
    --foreground: #E7E7D6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'JetBrains Mono', monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: transparent;
  z-index: 1000;
}

footer {
  background-color: transparent;
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footerLinks {
  display: flex;
  justify-content: space-around;
  gap: 10rem;
}

#themeToggle {
  font-size: 1rem;
  cursor: pointer;
  background-color: #F86D00;
  width: 5rem;
}